@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    height: 100%;
    width: 100%;
    background-color: rgb(34, 34, 34);
}

header {
    display: flex;
    justify-content: space-between;
    margin: 40px;
    color: white;
    
}

.nome {
    margin-left: 20px;
    font-size: 1.2rem;
    line-height: 50px;
}

.nome h1 {
    font-weight: 200;
}

.nome h1:last-child {
    font-weight: 500;
}

li {
    display: inline-block;
    margin: 20px;
    border: 2px solid blueviolet;
    border-radius: 15px;
    padding: 16px;
    font-weight: 400;
    transition: 0.3s all;
}

li:hover {
    background-color: blueviolet;
    color: rgb(34, 34, 34);
    transition: 0.3s all;

}

a {
    color: white;
    font-size: 1.4rem;
    font-weight: 300;
}

main {
   
}

article {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-right: 50px;
}

img {
    width: 700px;
}

.conteudo {
    
    display: flex;
    align-items: center;
    background-color: blueviolet;
}

.sobre {
    margin-left: 30px;
    font-size: 2rem;
    color: white;
}

.sobre h1 {
    color: white;
}

.sobre p{
    font-weight: 300;
}

footer {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    height: 360px;
    margin-top: 3px;
    background-color: rgb(34, 34, 34);
}

.email h1 {
    margin-top: 30px;
    font-weight: 200;
}

.social-media {
    display: flex;
    align-items: center;
}

footer img {
    width: 60px;
    margin: 10px 10px;
    border: 2px solid blueviolet;
    padding: 20px;
    border-radius: 20px;
    transition: 0.3s all;
}

footer img:hover {
    background-color: blueviolet;
    color: rgb(34, 34, 34);
    transition: 0.3s all;

}

.dev {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    
}

.dev h1 {
    font-size: 1rem;
    font-weight: 200;
}

@media and screen (max-width: 500px) {
    .conteudo {
        width: 100%;
    }
}